<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gueser Gallow</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  </head>


<body>
  <div class="flex-column justify-space-around handlee-regular">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="h1">
        <a href="/">Guesser Gallow</a>
      </h1>
      <nav class="nav">
        <a href="/score" class="btn dabutton handlee-regular">Scores</a>
        <a href="/profile" class="btn dabutton handlee-regular">Profile</a>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
