  <h1>Guess the Word:</h1>
<div id="game"></div>
<div id="word-to-guess"></div>
        <div id="hangman-drawing" class="hangman">
            <div class="head hidden"></div>
            <div class="body hidden"></div>
            <div class="left-arm hidden"></div>
            <div class="right-arm hidden"></div>
            <div class="left-leg hidden"></div>
            <div class="right-leg hidden"></div>
        </div>
        <div id="letters-to-choose">
            {{#each "abcdefghijklmnopqrstuvwxyz"}}
                <button onclick="makeGuess('{{this}}')">{{this}}</button>
            {{/each}}
        </div>
        <div id="incorrect-guesses">Incorrect Guesses: 0</div>
    </div>
    <script>
        // Initialize the game with the word passed from the server
        const initialWord = "{{randomWord}}";
    </script>

    <script src="./js/game.js"></script>