<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{1.user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
   <h1>High Scores</h1>
    <ul>
        {{#each this}}
            <li>{{this.user.name}} - {{this.high_scores}}</li>
        {{/each}}
    </ul>
<a href="/" class="btn dabutton handlee-regular">Play!</a>
</div>

<script src="./js/scores.js"></script>